/.cache
/.fabric
/crash-reports
/data
/datapacks
/defaultconfigs
/logs
/moddata
/modernfix
/mods
/resourcepacks
/saves
/schematics
/shaderpacks
/xaero*
/irisUpdateInfo.json
/options.txt

*.zip
*.jar
*.nbt
*.log

**/*cache*