/.cache
/.fabric
/crash-reports
/data
/datapacks
/defaultconfigs
/logs
/moddata
/modernfix
/mods
/resourcepacks
/saves
/schematics
/shaderpacks
/xaero*
/irisUpdateInfo.json
/options.txt

/config/minihud

*.zip
*.jar
*.nbt
*.log
*.dat
*.dat_old
*.sqlite

**/*cache*